<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8"/>
        <title>Movie Landing Page</title>
    </head>
    <body>
        <form action="/handle_form" method="POST">
            <p>
                What Marvel movie do you want to learn  about? 
                <select name="movie">
                    <option value="The Avengers"> The Avengers </option>
                    <option value="Iron Man">Iron Man</option>
                    <option value="Thor">Thor</option>
                    <option value="Captain America">Captain America</option>
                    <option value="Guardians of the Galaxy">Guardians of the Galaxy</option>
                    <option value="Dr Strange">Dr. Strange</option>
                    <option value="The Antman">Antman</option>
                    <option value="Captain America: Civil War">Captain America: Civil War</option>
                    <option value="Spider Man">Spider Man</option>
                    <option value="The Incredible Hulk">The Incredible Hulk</option>
                </select>


            </p>
            <input type="submit" value="Submit Form"/>
        </form>
    </body>
</html>